.header {
  max-width: 880px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  opacity: 0.7;
  margin: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 42px;
    padding-bottom: 31.6px;
  }
}
