.footer {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  margin: auto;
  
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 0 19px 0;
  }
}